{% extends 'base.html.twig' %}

{% block title %}RoomType index{% endblock %}

{% block body %}
    <h1>RoomType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Max_capacity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for room_type in room_types %}
            <tr>
                <td>{{ room_type.id }}</td>
                <td>{{ room_type.description }}</td>
                <td>{{ room_type.maxCapacity }}</td>
                <td>
                    <a href="{{ path('room_type_show', {'id': room_type.id}) }}">show</a>
                    <a href="{{ path('room_type_edit', {'id': room_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('room_type_new') }}">Create new</a>
{% endblock %}
