{% extends 'base.html.twig' %}

{% block title %}Room Type{% endblock %}

{% block body %}
    <h1>Room Type</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ room_type.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ room_type.description }}</td>
            </tr>
            <tr>
                <th>Max_capacity</th>
                <td>{{ room_type.maxCapacity }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('room_type_index') }}">back to list</a>

    <a href="{{ path('room_type_edit', {'id': room_type.id}) }}">edit</a>

{% endblock %}
